.button{
    background-color: inherit;
    margin: 8px 12px;
    padding: 5px 8px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;

    transition: background-color 0.3s linear,
    color 0.3s linear;
}

.button:hover{
    background-color: #3e6ae1;
    color: #fff
}

.button.active{
    background: #3e6ae1;
    color: #fff;
}

.button:disabled{
    cursor: not-allowed;
}

